.logo {
    width: 120px;
    height: 31px;
    background: rgba(255,255,255,.2);
    margin: 16px 24px 16px 0;
    float: left;
}
.ant-layout{
    height: 100%;
}
h2{
    text-align: center;
}
.login-form {
    max-width: 25em;
}
.login-form-button {
    width: 100%;
}
.container{
    height: 18em;
    width: 20em;
    margin: 6em auto 0;
}